/* NAVBAR UTENTE */
.user-navbar {
  background-color: #000; /* Sfondo nero */
  padding: 20px 0; /* Spaziatura verticale */
  margin-bottom: 40px; /* Distanza dal contenuto sottostante */
  display: flex;
  justify-content: center; /* Centra il contenitore */
  position: relative;
  z-index: 1;
}
